---
import BlogPost from '../layouts/BlogPost.astro';
---

<BlogPost
	title="About Me"
	description="jtk5aw->jackyken"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		My name is Jackson Kennedy and I'm going to use this to talk about whatever I want. 
		Right now I anticipate that will be focused on computing but that may change over time. 
	</p>
</BlogPost>
