---
import BlogPost from '../layouts/BlogPost.astro';
---

<BlogPost
	title="About Me"
	description="jtk5aw->jackyken"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		My name is Jackson Kennedy and I'm going to use this to talk about computing. Right now, focusing on Rust and distributed systems problems I mess arround with.
	</p>
</BlogPost>
