<section class="about-text">
	<p>
    I'm Jackson Kennedy. As they come to me, my thoughts on computing/engineering will be found here. 
        <br> <br>
		<p>The best way to reach out is via email at jacksontkennedy99@gmail.com</p>
</section>
<style>
    .about-text { 
        font-size: 0.7em;
    }
</style>
